@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600;700;800&display=swap');
@import url(./navigation-menu.css);
@import url(./home.css);

:root {
  --blue: #067a94;
  --defaul-background: #222327;
  --background-2: #16171a;
  --defaul-colorElements: #9fa4bb;
  --defaul-hover: #8a8a9969;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  background-color: var(--defaul-background);
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

section {
  display: none;
  height: 100%;
}

section.open {
  display: flex;
}

@media(max-width: 800px) {
  .container {
    flex-direction: column;
  }
}